/* Style the main content */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.overall {
    background-color: #1EBFC1;
    padding: 20px;
    border-radius: 10px;
}

.patient-image {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
    font-weight: 600;

}

.patient-image img {
    width: 200px;
    /* Adjust the width as needed */
    height: auto;
}

.patient-info {
    width: 100%;
    text-align: left;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    flex: 1;
}

.textType,
input[type="date"],
.emailInput,
input[type="tel"],
textarea {
    flex: 2;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    width: 100%;
}

/* Increase font size for Diagnosis */
#diagnosis {
    font-size: 16px;
}

.updateBtn {
    height: 60px;
    width: 100px;
    background-color: white;
    margin: 0px;
    color: #1EBFC1;
}

@media only screen and (min-width: 320px) and (max-width: 580px) {
    .innerBody {
        height: 100%;
        width: 100%;
        padding: 10px;

    }

    .search {
        height: 8%;
        width: 60%;
    }

    .searchIcon {
        height: 70%;
        width: 80%;
        margin-left: 10px;
        font-size: 12px;
        padding: 5px;
    }

    .image {
        height: 40px;
        width: 40px;
        border-radius: 100px;
    }

    p {
        font-size: 12px;

    }

    .delete {
        height: 45%;
        width: 70px;
        font-size: 10px;
    }

    .create {
        width: 30%;
        font-size: 12px;
    }

    .bottomBtn {
        height: 40%;
        width: 100%;
        background-color: red;
    }




}