@media only screen and (min-width: 320px) and (max-width:758px) {
    .illustration {
        display: none;
    }

    .registrationList {
        height: 100%;
        width: 100%;
        margin-left: 0px;
        padding: 0px;
        background-color: red;
    }

    .registration {
        padding: 0px;
    }


    .regSection {
        border-radius: 0px;
    }

    .inputSec {
        height: 100%;
        width: 100%;
    }

    .inputType {
        height: 35px;
        width: 90%;
        border: none;
        font-size: 12px;
    }

    .regBtn {
        height: 35px;
        width: 90%;
        border: none;
    }

    .signUp {
        font-size: 11px;
        font-weight: light;
        color: black;

    }

}