* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.HeaderBody {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    position: sticky;
    background-color: white;
    top: 0;
    /* position: fixed; */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.headerContent {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.headerLogo {
    height: 100%;
    width: 10;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.headerLogo img {
    height: 78px;
    width: 130px;
    cursor: pointer;
}

.firstList {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstList ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style-type: none;
    color: black;
    font-size: 18px;
}


.landinghometext{
    font-weight: bold;
}

.landingabouttext{
    font-weight: bold;
}

.landingcontactustext{
    font-weight: bold;
}



.firstList li {
    cursor: pointer;
}

.firstList li:hover {
    color: #1EBFC1;
}

.buttons {
    height: 100%;
    width: 17%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.signUpBtn {
    height: 45px;
    width: 105px;
    color: #1EBFC1;
    border: 1.5px solid #1EBFC1;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.signUpBtn:hover {
    transform: scale(1.1);
    transition: ease-in;
}


.loginbtn {
    height: 45px;
    width: 105px;
    color: white;
    background-color: #1EBFC1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 16px;
}

.loginbtn:hover {
    transform: scale(1.1);
    transition: ease-in;
}

.registration {
    height: 100vh;
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.illustration {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.topIllustration {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.topIllustration img {
    height: 80%;
    width: 100%;
}

.bottomIllustration {
    height: 20%;
    width: 60%;
}

.bottomIllustration img {
    height: 80%;
    width: 60%;
    margin-left: 50px;
    padding-top: 20px;
}

.registrationList {
    height: 100%;
    width: 38%;
    padding: 0px;
    display: flex;
    margin-left: 10px;
}

.regSection {
    height: 100%;
    width: 100%;
    background-color: #E0F7F6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6px;
}

.registrationList h4 {
    color: black;
}

.inputType {
    height: 40px;
    width: 60%;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 13px;
    outline: none;
    color: black;
    display: flex;
    align-items: center;
}

.fileInput{
    border: none;
    background: none;
}

.inputSec {
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    color: black;
}

.arrow {
    font-size: 23px;
    cursor: pointer;

}

.inputError {
    color: red;
}

.regBtn {
    height: 30px;
    width: 60%;
    background-color: #1EBFC1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 12px;
    font-weight: light;
    color: white;
    border: 1px solid gray;
}

.signUp {
    font-size: 13px;
    font-weight: light;
    color: black;

}

.signBtn {
    font-weight: 600;
    color: black;
    cursor: pointer;
}

.sighSec {
    height: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

.loginInput {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.forgetPassword {
    height: auto;
    width: 60%;
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    color: black;
    cursor: pointer;
}

.handBurger {
    height: 30px;
    width: 30px;
    display: none;
    cursor: pointer;
}

.handBurger img {
    height: 100%;
    width: 100%;
}




@media only screen and (min-width:320px) and (max-width:758px) {

    .HeaderBody {
        width: 100%;
        height: 70px;

    }

    .handBurger {
        display: block;
    }

    .firstList {
        display: none;
    }

    .buttons {
        display: flex;
        justify-content: flex-end;
        margin-left: 25px;
    }

    .signUpBtn {
        display: none;
    }

    .loginbtn {
        display: none;
    }

    .dropDown {
        height: 100vh;
        width: 70%;
        position: fixed;
        /* background-color: #211D23; */
        left: 0;
        top: 0;
        display: block;
        opacity: 80%;
        background: #000;
    }

    .menu {
        height: 8%;
        width: 100%;
        font-size: 18px;
        padding-left: 10px;
    }

    .menu1 {
        display: flex;
        justify-content: flex-end;
        height: 5%;
        width: 100%;
    }

    .menu1 span {
        color: red;
        font-size: 25px;
        cursor: pointer;
        transform: scale(1.0);
        transition: all 350ms ease-in;
        font-weight: 600;
    }

    .menu1 span:hover {
        transition: all 350ms ease-in;
        transform: scale(1.2);
    }

    .menu p {
        cursor: pointer;
    }

    .registrationList {
        height: 100%;
        width: 100%;
        padding: 0px;
        display: flex;
        margin-left: 0px;
    }

}

@media only screen and (min-width:768px) and (max-width:1024px) {





    .firstList {
        height: 100%;
        width: 40%;
    }

    .buttons {
        height: 100%;
        width: 25%;
        padding-bottom: 25px;
    }

}