/* Style the main content */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.overall {
    background-color: #1EBFC1;
    padding: 20px;
    border-radius: 10px;
}

.patient-image {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    font-weight: 600;
    width: 100%;
    height: 20vh;

}

.patient-image p {
    width: 68%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.patientimgphoto {
    width: 30%;
    /* Adjust the width as needed */
    height: 100%;
    border-radius: 5px;

}

.patientimgphoto img {
    width: 100% !important;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.patient-info {
    width: 100%;
    text-align: left;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    flex: 1;
}

.textType,
input[type="date"],
.emailInput,
input[type="tel"],
textarea {
    flex: 2;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    width: 100%;
}

/* Increase font size for Diagnosis */
#diagnosis {
    font-size: 16px;
}

.updateBtn {
    height: 45px;
    width: 80px;
    margin: 0px;
    color: #1EBFC1;
}


@media only screen and (min-width: 320px) and (max-width: 580px) {

    .patient-image {
        text-align: center;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0px !important ;
        font-weight: 600;
        width: 100%;
        height: 20vh;
    }

    .patient-image p {
        width: 50%;
        height: 100%;
    }

    .patientimgphoto {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .patientimgphoto img {
        width: 100% !important ;
        height: 100% !important;
        border-radius: 5px;

    }
}