body {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.staffreghead {
    width: 100%;
    height: 16%;
    padding: 10px
}

.stafflogowrapper {
    width: 9%;
    height: 100%;
}

.stafflogowrapper img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.staffregcarddiv {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.staffregcard {
    width: 30%;
    height: 95%;
    background-color: #E0F7F6;
    border-radius: 10px;
    padding-top: 25px;
}

.staffregtext {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    font-family: sans-serif;
}

.staffregcardholder {
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.staffname {
    width: 60%;
    height: 8%;
    border-radius: 5px;
    padding: 5px;
    border: none;
    outline: none;
    background-color: white;
}

.staffphoneno {
    width: 60%;
    height: 8%;
    border-radius: 5px;
    padding: 5px;
    border: none;
    outline: none;
    background-color: white;
}

.staffemail {
    width: 60%;
    height: 8%;
    border-radius: 5px;
    padding: 5px;
    border: none;
    outline: none;
    background-color: white;
}

.staffpassword {
    width: 60%;
    height: 8%;
    border-radius: 5px;
    padding: 5px;
    border: none;
    outline: none;
    background-color: white;
}

.staffconfirmpass {
    width: 60%;
    height: 8%;
    border-radius: 5px;
    padding: 5px;
    border: none;
    outline: none;
    background-color: white;
}

.staffrole {
    width: 60%;
    height: 8%;
    border-radius: 5px;
    padding: 5px;
    border: none;
    outline: none;
    background-color: white;
}

.inputstafftype{
    background-color: white;
    width: 60%;
    height: 8%;
    border-radius: 5px;
    border: none;
}

.staffhoscode {
    width: 60%;
    height: 8%;
    border-radius: 5px;
    padding: 5px;
    border: none;
    outline: none;
    background-color: white;
}

.staffregbutton {
    width: 60%;
    height: 8%;
    border-radius: 10px;
    border: none;
    background-color: #1EBFC1;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

.staffregdescription {
    width: 70%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    cursor: pointer;
}

.staffalready {
    font-size: 12px;
    color: #0B120B;
}

.stafflogin {
    font-weight: 800;
}