@media only screen and (min-width: 320px) and  (max-width: 580px) {

.footer{
    width: 100%;
    height: 40vh;
}

.footerwrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.leftfooter{
    width: 38%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.medlogo{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: flex-end;
}

.medlogo img{
    width: 50%;
    height: 60%;
}

.footeraddress{
    width: 100%;
    height: 10%;
    color: #636763;
    display: flex;
    gap: 5px;
}

.footeraddressicon{
    font-size: 8px;
}

.footeraddress p{
    font-size: 8px; 
}

.footerphoneno{
    width: 100%;
    height: 10%;
    color: #636763;
    display: flex;
    gap: 5px;
}

.footerphoneno p{
    font-size: 8px;
}

.footerphonenoicon{
    font-size: 8px;
}

.footeremail{
    width: 100%;
    height: 10%;
    color: #636763;
    display: flex;
    gap: 5px;
}

.footeremailicon{
    font-size: 8px;
}

.footeremail p{
    font-size: 8px; 
}

.footercopyrights{
    width: 100%;
    height: 40%; 
    color: #636763;
}

.footercopyrights p{
    font-size: 8px;
}

.footer2{
    width: 15%;
    height: 100%;
}

.quicklinkstext{
    width: 100%;
    height: 20%;
    background-color: #E0F7F6;
    display: flex;
    align-items: flex-end;
    color: #636763; 
    font-size: 10px;
}

.quicklinkshome{
    width: 100%;
    height: 10%;
    color: #636763;
    display: flex;
    align-items: center;
}

.quicklinkshome p{
    font-size: 8px; 
}

.quicklinksabout{
    width: 100%;
    height: 10%;
    color: #636763;
    display: flex;
    align-items: center;
}


.quicklinksabout p{
    font-size: 8px;  
}
.quicklinksservices{
    width: 100%;
    height: 10%;
    color: #636763;
    display: flex;
    align-items: center;
}

.quicklinksservices p{
    font-size: 8px;  
}

.quicklinkempty{
    width: 100%;
    height: 40%;
    font-size: 12px; 
    color: #636763;
}

.legallinkstext{
    width: 100%;
    height: 20%;
    background-color: #E0F7F6;
    display: flex;
    align-items: flex-end;
    color: #636763;
    font-size: 10px;
}

.legallinksterms{
    width: 100%;
    height: 10%;
    font-size: 8px; 
    color: #636763;
    display: flex;
    align-items: center;
}

.legallinksterms p{
    font-size: 8px;
}

.legallinkscondition{
    width: 100%;
    height: 10%;
    font-size: 8px; 
    color: #636763;
    display: flex;
    align-items: center;
}

.legallinkscondition p{
    font-size: 8px;
}

.legallinksprivacy{
    width: 100%;
    height: 10%;
    font-size: 8px; 
    color: #636763;
    display: flex;
    align-items: center;
}

.legallinksprivacy p{
    font-size: 8px;
}

.socialmediatext{
    width: 100%;
    height: 20%;
    background-color: #E0F7F6;
    display: flex;
    align-items: flex-end;
    color: #636763;
    font-size: 10px;
}

.socialmediafb{
    width: 100%;
    height: 10%;
    color: #636763;
    display: flex;
    gap: 5px;
}
.socialmediafbicon{
    font-size: 8px;
}

.socialmediafb p{
    font-size: 8px;
}

.socialmediatwi{
    width: 100%;
    height: 10%;
    color: #636763;
    display: flex;
    gap: 5px;
}

.socialmediatwiicon{
    font-size: 8px; 
}

.socialmediatwi p{
    font-size: 8px; 
}

.socialmedialnkd{
    width: 100%;
    height: 10%;
    color: #636763;
    display: flex;
    gap: 5px;
}

.socialmedialnkdicon{
    font-size: 8px; 
}

.socialmedialnkd p{
    font-size: 8px; 
}

}